@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image:linear-gradient(to top, #05ED3C, #B0FA08); height: 100%;
    background-attachment: fixed;
}

p {
    text-align: justify;
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #05cf34ce;
    margin: auto;
}

h1 {
    color: #ED2213;
    text-align: center;
    text-shadow: 1px 1px 2px #c91c10c7;
}
h2 {
    color: #F77A05;
}